body {background: #dddddd;}

footer {
  height: 100px;
  background: #bababa;
  margin-top: 50px;
  text-align: center;
}

h3 {
  margin-top: 5px;
}

.icono-school {font-size: 30px;}
.title {font-size: 20px;}

.jumbotron {
  background-image: url(../images/bloque-ing.jpg);
  background-position: bottom;
  height: 450px;
}

.jumbotron>.container>h1 {
  margin-top: 200px;
  color: #172e41;
}

.jumbotron>.container>h2 {
  margin: 0;
  color: #3b3d3e;
}

.login-button {
  margin-top: 20px;
  float: right;
}

.pl {
  border: 2px solid #000000;
  border-radius: 10px;
  margin-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  color: #000000;
  font-family: sans-serif;
}

.pl-student {
  background: #4f4759;
  border-color: #120d1a;
}

.pl-teacher {
  background: #572c2a;
  border-color: #110303;
}

.pl-img {
  margin-top: 10px;
  text-align: center;
}

.pl-img>img {
  width: 200px;
  height: 200px;
}

.title-teach {color: #959595;}
.login-dialog {background: rgba(22, 25, 46, 0.84);}
.mod-contorn {background: rgba(215, 215, 215, 0.41);}

.login-header {
  background: #020412;
  text-align: center;
  border-bottom: 0;
  padding: 5px 10px;
}

.login-title {
  color: #999da4;
  font-size: 20px;
  font-family: courier;
  font-weight: bold;
}

.login-btn-close {
  color: #ffffff;
  margin: auto;
}

.login-form {
  color: #ffffff;
}

.login-footer {
  text-align: center;
  border-top: 0;
  padding-bottom: 20px;
}

.modal-dialog {
  margin-top: 200px;
}
